
# macOS
.DS_Store/

# 데이터와 모델 파일
data/
*.csv
models/
*.pt

# 가상 환경과 캐시
myenv/
__pycache__/

## uv로 생성한 디렉토리
.venv/
.python-version
uv.lock

# 노트북 체크포인트
.ipynb_checkpoints/


runs/

# 최중열 개인 제외
notebooks/joelchoi/experiments/
notebooks/joelchoi/runs/
src/joelchoi/
configs/joelchoi/
experiments/joelchoi/